<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- feed_meta -%}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <main aria-label="Content">
        {{ content }}
    </main>
    <hr>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ 'feed.xml' | relative_url }}">Subscribe</a></li>
        <li><a href="https://github.com/blaix/blog.blaix.com">Source</a></li>
      </ul>
    </nav>
  </body>
</html>
